*.aux
*.blg
*.out
*.bbl
*.dvi
*.log
*.ps
DynamicsPaper2_draft_v1.01.synctex.gz
possible_plots_part_1.txt
Structure_for_Paper_2.dia~
*.dia~
Structure_for_Paper_2_v2.dia
docs/first_tests_v1.01.tex
docs/the_simulation_v1.01.tex
Structure_for_Paper_2.dia
DynamicsPaper2_collection_v1.01.synctex.gz
docs/roadmapping_changes_v1.01.tex
archive/v1/docs/abstract_v1.01.tex
archive/v1/docs/first_tests_v1.01.tex
archive/v1/docs/roadmapping_changes_v1.01.tex
archive/v1/docs/the_simulation_v1.01.tex
*.gz
*.toc
Comments_to_Jo.txt
Trick_et_al_EDnew.pdf